{% extends 'base.html' %}
{% load  static wagtailcore_tags wagtailimages_tags %}

{% block content %}
    <div class="container">
        <div class="row py-4">
            <div class="col-lg-8">
                <div class="card my-4">
                    <div class="card-header">
                        {{ page.specific.post_date }}
                    </div>
                    <div class="card-body">
                        <h3 class="card-title">
                            <a href="{{ page.specific.url }}" style="text-decoration: none">{{ page.specific.title }}</a>
                        </h3>
                        {% if page.specific.header_image %}
                            <div class="d-flex justify-content-center">
                                {% image page.specific.header_image scale-100  %}
                            </div>
                        {% endif %}
                        <div class="card-text">
                            {% if page.specific.intro %}
                                {{ page.specific.intro | richtext }}
                            {% else %}
                                {% include_block page.specific.body %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                    {% include "widgets/sidebar.html" %}
            </div>
        </div>
    </div>
{% endblock content %}