<nav>
    <div class="card">
        <form action="">
            <div class="form-row align-items-center">
                <div class="col-sm-9">
                   <input type="text" class="form-control" id="inlineFormInputName" placeholder="Jane Doe"> 
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
            <label for=""></label>
        </form>
    </div>
</nav>