{% load render_bundle from webpack_loader %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% render_bundle 'main' 'css' %}
	<title>Document</title>
	
</head>
<body class="bg-gray-50">
	<header>
		<section>

		</section>
		<nav class="bg-white shadow-lg mb-5">
			<div class="max-w-6xl mx-auto md:px-4 py-2">
				<div class="flex justify-between">
					<div class="flex space-x-7">
							<a href="{{ request.site.root_url }}" class="flex item-center space-x-2">
								<img src="{% static 'img/logo.png' %}" alt="Logo" class="h-8 md:h-12" />	
							</a>
					</div>
				</div>
			</div>
		</nav>
		<section>

		</section>
	</header>
	<main class="max-w-xl">
		<section>
			
		</section>
	</main>
	<aside>
		Side bar
	</aside>
	{% render_bundle 'main' 'js' %}
</body>	
</html>