{% load wagtailcore_tags static %}
{% load render_bundle from webpack_loader %}

<nav class="navbar bg-white border-b bg-gray-800 text-gray-100">
    <div class="flex max-w-6xl py-4 mx-auto">
        <span class="site-brand" >
            <a href="/">
                <img src="/static/img/logo.png" alt="Logo" class="h-12" />
            </a>
        </span>
        <ul class="flex flex-row">
            <li>
                <a href="/blog" class="text-black font-semibold">Blog</a>
            </li>
            <li>
                <a href="/about" class="text-black font-semibold">About</a>
            </li>
            {% if request.user.is_authenticated %}
            <li>
                <a href="/admin" class="text-black font-semibold">Admin</a>
            </li>
            <li>
                <a href="/admin/logout?next={{ request.get_full_path }}" class="text-black font-semibold">Logout</a>
            </li>
            {% else %}
            <li>
                <a href="/admin/login?next={{ request.get_full_path }}" class="text-black font-semibold">Login</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>