{% load wagtailcore_tags static %}
{% load render_bundle from webpack_loader %}

<nav class="bg-white border-b">
    <div class="flex max-w-6xl py-4 mx-auto">
        <span class="site-brand" >
            <a href="/">
                <img src="/static/img/logo.png" alt="Logo" class="h-12" />
            </a>
        </span>
        <ul class="flex flex-row">
            <li class="my-auto p-2 font-semibold text-lg hover:bg-gray-100">
                <a href="/blog" class="text-black font-semibold">Blog</a>
            </li>
            <li class="my-auto p-2 font-semibold text-lg hover:bg-gray-100">
                <a href="/about" class="text-black font-semibold">About</a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="my-auto p-2 font-semibold text-lg hover:bg-gray-100">
                <a href="{% url 'admin:index' %}" class="text-black font-semibold">Admin</a>
            </li>
            <li class="my-auto p-2 font-semibold text-lg hover:bg-gray-100">
                <a href="{% url 'admin:logout' %}?next={{ request.get_full_path }}" class="text-black font-semibold">Logout</a>
            </li>
            {% else %}
            <li class="my-auto p-2 font-semibold text-lg hover:bg-gray-100">
                <a href="{% url 'admin:login' %}?next={{ request.get_full_path }}" class="text-black font-semibold">Login</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>